* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 7rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.main:before {
    content: "";
    background: url('./assets/weathermap.jpg') no-repeat center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.top-data {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    width: fit-content;
}


.bottom-data {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    margin: 10rem;
    padding: 1rem;
    text-align: center;
}

.data-row-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.data-row-2 {
    display: flex;
    justify-content: space-evenly;
}

.search-bar {
    text-align: center;
    padding: 1rem;
}

.search-bar input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: .7rem 1.5rem;
    font-size: 1.3rem;
    outline: none;
    color: white;
}

::placeholder {
    color: white;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    width: fit-content;
}

button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: .7rem 1.5rem;
    font-size: 1.3rem;
    outline: none;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    background-color: rgba(12, 3, 91, 0.8);
    padding: 1rem;
    text-align: center;
}